src/main/resources/currencyConverter.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service1"
                  targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://localhost:56969/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://localhost:56969/Service1.svc?xsd=xsd1"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://localhost:56969/Service1.svc?xsd=xsd2"
                        namespace="http://schemas.datacontract.org/2004/07/CurrencyConverter"/>
            <xsd:import schemaLocation="http://localhost:56969/Service1.svc?xsd=xsd3"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IService1_GetData_InputMessage">
        <wsdl:part name="parameters" element="tns:GetData"/>
    </wsdl:message>
    <wsdl:message name="IService1_GetData_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDataResponse"/>
    </wsdl:message>
    <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDataUsingDataContract"/>
    </wsdl:message>
    <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse"/>
    </wsdl:message>
    <wsdl:message name="IService1_convertCurrency_InputMessage">
        <wsdl:part name="parameters" element="tns:convertCurrency"/>
    </wsdl:message>
    <wsdl:message name="IService1_convertCurrency_OutputMessage">
        <wsdl:part name="parameters" element="tns:convertCurrencyResponse"/>
    </wsdl:message>
    <wsdl:message name="IService1_convertCurrencyList_InputMessage">
        <wsdl:part name="parameters" element="tns:convertCurrencyList"/>
    </wsdl:message>
    <wsdl:message name="IService1_convertCurrencyList_OutputMessage">
        <wsdl:part name="parameters" element="tns:convertCurrencyListResponse"/>
    </wsdl:message>
    <wsdl:portType name="IService1">
        <wsdl:operation name="GetData">
            <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData"
                        message="tns:IService1_GetData_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse"
                         message="tns:IService1_GetData_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDataUsingDataContract">
            <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract"
                        message="tns:IService1_GetDataUsingDataContract_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse"
                         message="tns:IService1_GetDataUsingDataContract_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="convertCurrency">
            <wsdl:input wsaw:Action="http://tempuri.org/IService1/convertCurrency"
                        message="tns:IService1_convertCurrency_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService1/convertCurrencyResponse"
                         message="tns:IService1_convertCurrency_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="convertCurrencyList">
            <wsdl:input wsaw:Action="http://tempuri.org/IService1/convertCurrencyList"
                        message="tns:IService1_convertCurrencyList_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService1/convertCurrencyListResponse"
                         message="tns:IService1_convertCurrencyList_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetData">
            <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDataUsingDataContract">
            <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertCurrency">
            <soap:operation soapAction="http://tempuri.org/IService1/convertCurrency" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertCurrencyList">
            <soap:operation soapAction="http://tempuri.org/IService1/convertCurrencyList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Service1">
        <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
            <soap:address location="http://localhost:56969/Service1.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>